.banners {
    /* 50+68 (fixed header size + padding-top) */
    padding-top: 118px; 
}

.banners__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 68px;
}

.go {
    padding-top: 50px;
}

.go__container {
    padding-right: 0;
}

.go__title {
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: var(--dark);
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5px;

}

.go__slider {
    padding: 4px;
}

.go__category {
    cursor: pointer;
    position: relative;
    /* display: block; */
    width: 180px;
    height: 180px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgba(33, 33, 33, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
}



.go__category-text {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.40);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(33, 33, 33, 0.20);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: 1.8px;
}



.discounts {
    padding: 50px 0;
    font-family: 'Ubuntu', sans-serif;
}

.discounts__container {
    max-width: calc((100vw - 1220px) / 2 + 1220px);
    margin-left: calc((100vw - 1220px) / 2);
    padding-right: 0;
}

.discounts__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 30px;
    color: var(--dark);
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5px;

   
    margin-left: -14px;
}


.discounts__slider {
    
    width: calc(100% + 14px);
    min-height: 300px;
   
    padding: 5px;
    margin-left: -14px;
}

.discountSliderSlide {
    width: 180px;
    min-height: 290px;
}

.discountSliderSlide:hover .discounts__cardImg {
    scale: 0.99;
}

.brands {
    padding-bottom: 50px;
}

.brands__title {
    font-family: 'Ubuntu';
    margin-bottom: 20px;
    color: var(--dark);
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5px;
}

.brands__container {
    padding-right: 0;
}

.brands__item {
    background: #FFFFFF;
    border-radius: 10px;
    width: 100px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands__img {
    width: 80px;
    height: 38px;
    object-fit: contain;
}

.brands__itemBox {
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.referral {
    padding-top: 50px;
}

.referral__container {
    padding-right: 0;
}

.referral__title {
    margin-bottom: 20px;
    color: var(--dark);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
}

.referral__img {
    width: 137px;
    height: 137px;
}

.referral__item {
    width: 137px;
}


.referral__text {
    margin-top: 5px;
    font-weight: 400;
    font-size: 18px;
    color: var(--dark);
    text-align: center;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
}

.partner {
    padding-bottom: 70px;
}
.partner__title {
    margin-bottom: 20px;
    color: var(--dark);
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5px;
}
.partner__items {
    display: flex;
    align-items: center;
    gap: 40px;
}


.partner__itemImg {
    border-radius: 10px;
    display: block;
}
.partner__itemText {
    margin-top: 5px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 18px;
    color: var(--dark);
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
}

@media(max-width: 1235px) {
    .discounts__container {
        margin-left: 0;
        max-width: 100%;
    }

    .discounts__slider {
        margin-left: 0;
        width: 100%;
    }

    .discounts__title {
        margin-left: 0;
    }
}

/* @media(max-width: 1225px) {
    .nav__logo-img:first-of-type {
        display: none;
    }

    .nav__searchbar {
        display: none;
    }

    .nav__catalog {
        display: none;
    }

    .header__lang-btn,
    .header__calc-btn,
    .header__heart-btn {
        display: none;
    }

    .header__login {
        display: none;
    }

    .header__right {
        gap: 16px;
    }

    .nav {
        gap: 18px;
    }

    .nav__menu {
        display: block;
    }

    .header__basket-btn {
        display: flex;
    }

    .header__login-mobile {
        display: flex;
    }

} */



@media(max-width: 720px) {
    /* .nav__logo-img:last-of-type {
        width: 154px;
    }

    .header__inner {
        padding-left: 16px;
        padding-right: 10px;
        height: 64px;
        gap: 18px;
    } */

    .banners__inner {
        flex-direction: column;
        gap: 20px;
    }

    .banners {
        padding-top: 90px;
    }

    .go {
        padding-top: 40px;
    }

    .go__title {
        margin-bottom: 10px;
        font-size: 24px;
        letter-spacing: 1.2px;
    }

    .go__category {
        width: 150px;
        height: 150px;
    }

    .go__categoryText {
        height: 25px;
    }

    .go__categoryImg {
        width: 131px;
    }

    .go__container, .discounts__container {
        padding-left: 17px;
    }

    .discounts {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .discounts__title {
        font-size: 24px;
        letter-spacing: 1.2px;
    }

    .discount-sliderSlide {
        width: 150px;
        min-height: 240px;
    }

    .discounts__card {
        width: 150px;
        min-height: 240px;
    }

    .discounts__slider {
        min-height: 240px;
    }

    .discounts__cardPrices {
        gap: 4px;
    }

    .discounts__cardPrice {
        min-width: 66px;
        gap: 4px;
    }

    .discounts__cardPriceIcon {
        width: 19px;
        height: 19px;
    }

    .discounts__cardBottom {
        padding: 8px 4px 4px;
    }

    .discounts__cardLocation {
        margin-bottom: 6px;
    }

    .discounts__cardRate {
        width: 40px;
        height: 40px;
        font-size: 12px;
        line-height: 15px;
    }

    .brands__container {
        padding-left: 17px;
    }

    .brands__title {
        font-size: 24px;
        letter-spacing: 1.2px;
    }

    .referral {
        padding-top: 40px;
    }

    .referral__container {
        padding-left: 17px;
    }

    .referral__title {
        font-size: 24px;
        letter-spacing: 1.2px;
    }

    .referral__img {
        width: 100px;
        height: 100px;
    }

    .referral__item {
        width: 100px;
    }


    .referral__text {
        font-size: 12px;
        letter-spacing: 0.6px;
        margin-top: 8px;
    }

    .partner {
        padding-bottom: 80px;
    }

    .partner__title {
        font-size: 24px;
        letter-spacing: 1.2px;
    }

    .partner__items {
        flex-direction: column;
        gap: 20px;
    }

    .partner__item-text {
        margin-top: 10px;
        padding: 0;

        font-size: 18px;
        letter-spacing: 0.9px;
    }

    .partner__container {
        padding: 0px 17px;
    }

    .discounts__title-span {
        display: none;
    }

}