.payment__header {
    margin-top: 68px;
    padding-top: 36px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment__header__container {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-bottom: 32px;
    position: relative;
}
.payment__header__container > * {
    font-size: 20px !important;
    font-weight: 400 !important;
    color: grey;
}

.payment__header__container > *:nth-child(2) {
    margin-right: 40px;
}

.payment__header-title.last {
    margin-right: 55px;
}

.payment__header-title.active {
    color: #212121;
    font-weight: 500 !important;
}

.payment__backgroundLine.MuiDivider-root {
    position: absolute;
    top: 160px;
    width: 100%;
    height: 2px;
    background-color: #ADADAD;
}

.payment__main-content__container.MuiContainer-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.payment__progress.MuiDivider-root {
    background-color:#1BA27A;
    position: absolute;
    height: 2px;
    z-index: 2;
    transition: 0.5s;
}


.payment__progress-checkmark {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 !important;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #1BA27A;

    box-shadow: 0px 0px 24px -6px #1BA27A;
    top: 37px;
    z-index: 4;
}


.payment__progress-checkmark__done {
    width: 36px;
    height: 36px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #1BA27A;
    z-index: 3;
    box-shadow: 0px 0px 24px -6px #1BA27A;
    top: 40px;
    transition: 0.4s;
    opacity: 0;

    
}

.payment__progress-checkmark__done.first {
    left: 62px;
}
.payment__progress-checkmark__done.second {
    left: 331px;
}

.payment__progress-checkmark__done > img {
    width: 23px;
    height: 23px;
}


/* ---------------- ShoppingCard ---------------- */ 

.payment__progress.MuiDivider-root.shoppingCard {
    width: 481px;
    top: 56px;
    left: -400px;
}

.payment__progress-checkmark.shoppingCard {
    left: 59px;
}

/* ---------------- Checkout ---------------- */

.payment__progress.MuiDivider-root.checkout {
    width: 755px;
    top: 56px;
    left: -400px;
}

.payment__progress-checkmark.checkout {
    left: 330px;
}

.payment__progress-checkmark__done.first.shoppingCard {
    opacity: 1;
}

/*  ------------- Finish ---------------- */
.payment__progress__finished.MuiDivider-root {
    transition: 0.5s;
    position: absolute;
    background-color:#1BA27A;
    z-index: 2;
    height: 2px;
    top: 160px;
    left: 0;
}
.payment__progress-checkmark__done.second.checkout {
    opacity: 1;
}

.payment__progress__finished.MuiDivider-root.shoppingCard {
    display: none;
    width: 481px;
}

.payment__progress__finished.MuiDivider-root.checkout {
    display: block;
    width: 0px;
}

.payment__progress__finished.MuiDivider-root.finish {
    width: 100%;
    
}

.payment__progress-checkmark.finish {
    /* right: 64px; */
    left: 593px
}








/* ---------------------MOBILE-------------------- */

@media (max-width: 770px) {

    .payment__header__container {
        max-width: 400px;
        width: 100%;
        padding: 0 33px 0 25px;
    }

    .payment__header__container > * {
        font-size: 14px !important;
        margin: 0 !important;
    }

    .payment__header__container > .payment__header-title:first-child {
        width: 66px;
        text-align: center;
    }



    /* MainCheckmark */

    .payment__progress-checkmark {
        width: 36px;
        height: 36px;
        top: 39px;
    }

    .payment__progress-checkmark.shoppingCard {
        left: 10%;
    }

    .payment__progress-checkmark.checkout {
        left: 47%;
    }

    .payment__progress-checkmark.finish {
        left: 81.6%;
        /* right: 37px; */
    }

    /* progressBar */

    .payment__progress.MuiDivider-root {
        left: -200px !important;
    }

    .payment__progress.MuiDivider-root.shoppingCard {
        width: 67%;
    }

    .payment__progress.MuiDivider-root.checkout {
        width: 103%;
    }

    /* progressBarfinished */

    .payment__progress-checkmark__done.first {
        left: 0;
    }
    .payment__progress-checkmark__done.second {
        left: 0px;
    }



    /* CheckoutMarkDone */

    .payment__progress-checkmark__done {
        width: 30px;
        height: 30px;
        top: 41px;
    }

    .payment__progress-checkmark__done > img {
        width: 20px;
        height: 20px;
    }
    
    .payment__progress-checkmark__done.first {
        left: 42px;
    }
    .payment__progress-checkmark__done.second {
        left: 47.7%;
    }
}