.discounts {
  padding-top: 50px;
  padding-bottom: 80px;
  font-family: 'Ubuntu', sans-serif;
}

.discounts__container {
  padding-right: 0;
}

.discounts__title {
  margin-bottom: 5px;

  color: var(--dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.7px;
}


.discounts__slider {
  
  width: calc(100% + 14px);
  min-height: 300px;
 
  padding: 5px;
  margin-left: -14px;
}

.discountSliderSlide {
  width: 180px;
  min-height: 290px;
}

.discountSliderSlide:hover .discounts__cardImg {
  scale: 0.99;
}

@media(max-width: 768px) {
  .discounts__title {
    margin-bottom: 15px;
    padding-left: 17px;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.75px;
  }
}